.parrent{
    display:flex;
    height:60px;
    background-color: black;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

#child{
    /* display: flex; */
    height: 80px;
    /* justify-content: space-between; */
    width: 400px;
    
    color: white;
}
a{
    color: white;
}