header{
    height: 110px;
    width: 1470px;
    background-color: rgb(66, 66, 66);
    color: white;
    text-align: center;
    padding-top: 20px;
}

#navbar{
    height: 50px;
    width: 1470px;
    background-color:rgb(100, 100, 100); 
    color: white;
    list-style-type: none;
    padding-top: 20px;
    text-align: center;
}

li{
    display: inline;
    padding-left: 50px;
    
}
img{
    height:700px ;
    width: 1470px;
    
}

#container{
    height: 1000px;
    width: 1470px;
    display: flex;
    justify-content: center;
    

}

#card{
    height: 200px;
    width: 250px;
    margin-top: 80px;
    margin-left: 30px;
    border-radius: 50%
    
    
    
}
#c2{
    height: 200px;
    width: 250px;
}

.buttion{
    background-color: rgb(107, 107, 244);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    padding: 9px;
    

}

.page{
    height: 200px;
    width: 248px;
    border: 0.1px,solid,rgb(101, 99, 99);
    margin-top: -5px;
}